extends layout

block content
  h1= title
  p Welcome to sleep entries
  each sleep_entry, key in sleep_entries
    li #{sleep_entry.date}: bedtime: #{sleep_entry.bedtime}, asleep_by: #{sleep_entry.asleep_by}, risetime: #{sleep_entry.risetime} 

  